@mixin background($bgname, $x, $y)
{
	background-image: url("../imgs/"+$bgname);
	background-position: $x $y;
}
body {
	&.a {
		@include background("1.JPG",0px,-800px);
	}
	&.b {
		@include background("2.JPG",-110px,-630px);
	}
	&.c {
		@include background("3.JPG",0px,0px);
	}
	background-repeat: no-repeat;
}