/*
	Visual Messages: 
*/

$errorLight : #e74c3c;
$errorDark : #c0392b;

$warningLight : #f1c40f;
$warningDark: #f39c12;

$successLight : #2ecc71;
$successDark : #27ae60;

$infoLight : #3498db;
$infoDark : #2980b9;

$primaryLight : #1abc9c;
$primaryDark : #16a085;

$inactiveExtraLight : #dddddd;
$inactiveLight : #aaaaaa;
$inactiveDark : #777777;
/*
	Text Styling:
*/

$textMain : #777777;
$textLight : #999999;
$textUser  : #666666;

/*
	Backgrounds:
*/
$backgroundMain : #2c3e50;
$backgroundContent : #ecf0f1;

