/*
	Visual Messages: 
*/

$errorLight : #e74c3c;
$errorDark : #c0392b;

$warningLight : #F5D76E;
$warningDark: #f1c40f;

$successLight : #2ecc71;
$successDark : #27ae60;

$infoLight : #3498db;
$infoDark : #2980b9;

$primaryLight : #1abc9c;
$primaryDark : #16a085;

$inactiveExtraLight : #dddddd;
$inactiveLight : #aaaaaa;
$inactiveDark : #777777;
/*
	Text Styling:
*/

$textMain : #777777;
$textLight : #999999;
$textUser  : #666666;

/*
	Backgrounds:
*/
$backgroundMain : #F2F1EF;
$backgroundContent : #ecf0f1;

/*
	Extras:
*/
$white : #ffffff;
$btnDft : #87D37C;
$btnHov : #7CC172;