// Text styling

$textDark : #777777;
$textLight : #999999;

// Input styling

$inputBackground : #dddddd;
$inputLight : #aaaaaa;
$inputDark : #777777;

// Button styling

$btnDefault : #87d37c;
$btnHover : #7cc172;

// Visual messages

$warningLight : #f5d76e;
$warningDark: #f1c40f;

// Extra colours

$background : #f2f1ef;
$white : #ffffff;