@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin remove-box-shadow{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
@mixin transition($transition-property, $transition-time) {
	-webkit-transition: $transition-property $transition-time;
	-moz-transition: $transition-property $transition-time;
	-ms-transition: $transition-property $transition-time;
	-o-transition: $transition-property $transition-time;
	transition: $transition-property $transition-time;
}