@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin remove-box-shadow{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}
@mixin arrow($direction,$size,$colour)
{
	width: 0;
	height: 0;
	@if unitless($size){
		@warn "Assuming #{$size} to be in pixels";
		$size: 1px * $size;
	}
	@if $direction == "up" {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $colour;	
	}
	@if $direction == "down" {
		border-left: $size solid transparent;
		border-right: $size solid transparent;	
		border-top: $size solid $colour;	
	}
	@if $direction == "right" {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $colour;
	}
	@if  $direction == "left" {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $colour;
	}
}
@mixin align($side)
{
	@if $side == "left" {
		margin-right: auto;
	}
	@if $side == "center" {
		margin-left: auto;
		margin-right: auto;
	}
	@if $side == "right" {
		margin-left: auto;
	}
}