/*
	Visual Messages: 
*/

$errorLight : #e74c3c;
$errorDark : #c0392b;

$warningLight : #f1c40f;
$warningDark: #f39c12;

$successLight : #2ecc71;
$successDark : #27ae60;

$infoLight : #3498db;
$infoDark : #2980b9;

$primaryLight : #1abc9c;
$primaryDark : #16a085;
/*
	Text Styling:
*/

$textMain : #2c3e50;