@import '_mixins';
@import '_colour-theme';
@include placeholder($inputLight, $inputDark);

body {
	font-family: Lato;
	font-weight: 300;
	margin: 0;
	background-color: $background;
	background-size: cover;
	color: $textDark;
}

.container {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;

	.content {
		display: table-cell;
		vertical-align: middle;
	}
}

.form {
	display: inline-block;
	background-color: $white;
	padding: 30px 40px;
	text-align: left;
	@include box-shadow(0, 0, 5px, $inputDark, false);

	.header {
		margin-bottom: 20px;

		h1 {
			font-weight: 700;
			font-size: 18px;
		}

		p {
			font-size: 14px;
			color: $textLight;
		}
	}

	a, input {
		@include transition(border-color, 100ms, linear);
		outline: 0;
		font-family: Lato;
		font-weight: 300;
		font-size: 14px;
		padding: 15px;
	}

	input {
		color: $inputLight;
		border: 0;
		background-color: transparent;
		@include transition(all, 100ms, linear);
		width: 350px;
	}
	
	.field {
		margin-bottom: 15px;
		background-color: $inputBackground;
		@include transition(border-color, 100ms, linear);
		border-right: 4px solid transparent;

		* {
			display: inline-block;
		}

		.icon {
			padding-left: 15px;
			color: $inputLight;
			@include transition(color, 100ms, linear);
		}

		&.focus {
			.icon, input {
				color: $inputDark;
			}

			&.warning {
				border-right: 4px solid $warningDark;
			}
		}

		&.warning {
			border-right: 4px solid $warningLight;
		}
	}

	a {
		display: block;
		text-align: center;
		text-decoration: none;
		background-color: $btnDefault;
		border: 0;
		color: white;
		@include transition(background-color, 100ms, linear);

		&:hover, &:focus {
			background-color: $btnHover;
		}

		i.fa {
			font-size: 20px;
		}
	}

	input:focus {
		border-color: $inputLight;
	}
}