/*
	Visual Messages: 
*/
/*
	Text Styling:
*/
body { font-family: Lato; font-weight: 300; background-color: #16a085; color: #666666; }

.container { display: table; }

.content { display: table-cell; vertical-align: middle; background-color: #ffffff; padding: 40px; border: 1px solid #eeeeee; text-align: left; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }

.header { font-size: 18px; margin-bottom: 20px; }

input { font-family: Lato; font-weight: 300; padding: 15px; margin-top: 15px; margin-bottom: 15px; display: block; width: 400px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; outline: 0; border: 1px solid #dddddd; }

input:focus { border-color: #aaaaaa; }
