/*
	Border Radius apply a border radius effect.
	@param $radius : The radius of the border (Assumes pixels). 
*/
/*
	Remove Box Shadow, removes any box shadow effect 
*/
/*
	Transition, adds a transition
	@param $transition-property : The property you want to have the effect on.
	@param $transition-time : The time the transition will last. 
	@param $method : The method of transition, e.g linear.
*/
/*
	Arrow, creates an arrow.
	@param $direction : The direction you want the arrow to face. Valid inputs are: "up","dow","right","left". See rotate also for more directions
	@param $size : The *rough* size of the arrow, experimenting will be needed. Also if no unit is specified them assume pixels
	@param $colour : The colour of the arrow.
*/
/*
	Align the element.
	@param $side : The side that you want to align to. Valid inputs are: "left","center","right".
*/
/*
	Rotate the element
	@param $deg : The amount of degrees (Unit optional, Automatically adds deg)
*/
/*
	Visual Messages: 
*/
/*
	Text Styling:
*/
<<<<<<< HEAD
body { font-family: Lato; font-weight: 300; background-color: #2c3e50; color: #777777; margin: 0; }
=======
/*
	Backgrounds:
*/
body { font-family: Lato; font-weight: 300; background-color: #2c3e50; color: #777777; }
>>>>>>> origin/master

.container { display: table; height: 100%; width: 100%; text-align: center; }
.container .content { display: table-cell; vertical-align: middle; }

.form { display: inline-block; background-color: #ecf0f1; padding: 30px 40px; text-align: left; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }
.form .header { margin-bottom: 20px; }
.form .header h1 { font-weight: 700; font-size: 18px; }
.form .header p { font-size: 14px; color: #999999; }
<<<<<<< HEAD
.form input { font-family: Lato; font-weight: 300; font-size: 13px; color: #666666; padding: 15px; margin-bottom: 15px; display: block; width: 400px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; -webkit-transition: border-color 100ms; -moz-transition: border-color 100ms; -ms-transition: border-color 100ms; -o-transition: border-color 100ms; transition: border-color 100ms; outline: 0; border: 1px solid #dddddd; }
.form input:focus, .form a:hover, .form a:focus { border-color: #aaaaaa; }
.form a { display: block; padding: 15px; font-size: 13px; text-align: center; text-decoration: none; color: #777777; border: 1px solid #dddddd; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; -webkit-transition: border-color 100ms; -moz-transition: border-color 100ms; -ms-transition: border-color 100ms; -o-transition: border-color 100ms; transition: border-color 100ms; outline: 0; background-color: white; }
=======
.form input { font-family: Lato; font-weight: 300; font-size: 13px; color: #666666; padding: 15px; margin-bottom: 15px; display: block; width: 400px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; outline: 0; border: 1px solid #dddddd; }
.form input:focus, .form a:hover, .form a:focus { border-color: #aaaaaa; -webkit-transition: all 0.4s ease-in; -moz-transition: all 0.4s ease-in; -ms-transition: all 0.4s ease-in; -o-transition: all 0.4s ease-in; transition: all 0.4s ease-in; }
.form a { display: block; padding: 15px; font-size: 13px; text-align: center; text-decoration: none; color: #777777; border: 1px solid #dddddd; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; outline: 0; background-color: white; }
.form a, .form input { -webkit-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -ms-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out; }
>>>>>>> origin/master
