@import '_mixins';
@import '_colour-theme';

body {
	font-family: Lato;
	font-weight: 300;
	margin: 0;
	background-color: $backgroundMain;
	color: $textMain;
}

.container {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;

	.content {
		display: table-cell;
		vertical-align: middle;
	}
}

.form {
	display: inline-block;
	background-color: $backgroundContent;
	padding: 30px 40px;
	text-align: left;
	@include border-radius(4px);

	.header {
		margin-bottom: 20px;

		h1 {
			font-weight: 700;
			font-size: 18px;
		}

		p {
			font-size: 14px;
			color: $textLight;
		}
	}

	a, input {
		@include transition(border-color, 100ms, linear);
		@include border-radius(4px);
		border: 1px solid $inactiveExtraLight;
		outline: 0;
		background-color: white;
		font-family: Lato;
		font-weight: 300;
		font-size: 13px;
		padding: 15px;
	}

	input {	
		color: $textUser;
		margin-bottom: 15px;
		display: block;
		width: 400px;
	}

	a {
		display: block;
		text-align: center;
		text-decoration: none;
		color: $inactiveDark;
	}

	input:focus, a:hover, a:focus {
		border-color: $inactiveLight;
	}
}

